$containerMaxWidth: 1290px;
$gridGutter: 30px;
$darkBack: #202020;
$lightBack: #E5E5E5;
$wight: #FFFFFF;
$btnColor: #FF6E30;
$btnColorHover: #BC572B;
$btnColorActive: #CE4307;
$error: #FF3030;
$afterBack: #333333;
$form: #4A4A4A;
$input: #E9E9E9;
$spanColor: #999999;
$placeholder: #CACACA;
$afterHeight: 28px;
$afterWidth: 86px;
